html {
  scroll-behavior: smooth;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 576px) {
  body {
    font-size: 13px;
  }
}

.logo {
  font-family: 'Anton', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-style: normal;
  color: #ff0000;
  font-size: 32px;
}

@media (min-width: 576px) {
  body {
    font-size: 14px;
  }
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 15px;
  }
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 15.5px;
  }
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 1359px;
  }
}
